name: Create Preview
on: pull_request

jobs:
  preview: Create Preview
  runs-on: ubuntu-latest
  steps:
    - name: Check for EXPO_TOKEN
      run: |
            if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
              echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
              exit 1
            fi
            
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@v2
      with:
          node-version: 16.x
          cache: 'yarn'

    - name: Set up Expo
      uses: expo/expo-github-action@v7
      with:
          expo-version: latest
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

    - name: Find Yarn cache
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
      
    - name: Restore cache
      uses: actions/cache@v2
      with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

    - name: Install dependencies
      run: yarn install --immutable

    - name: Publish to Expo & Create QR Code
      uses:  expo/expo-preview-action@v1
      with:
          channel: pr-${{ github.event.number }}
      id: preview
      env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
          with:
          msg: > 
            You can [preview the PR here](${{ steps.preview.outputs.EXPO_QR_CODE_URL }}).<br><br>
              <a href="${{ steps.publish.outputs.EXPO_QR_CODE_URL }}"><img src="${{ steps.preview.outputs.EXPO_QR_CODE_URL }}" height="512px" width="512px"></a>
              <br><br>
              QR code not working or need a different client? Try the QR code or deep link from the [project page](${{steps.preview.outputs.EXPO_PROJECT_URL}}).
              <br><br>
              ${{ steps.publish.outputs.EXPO_NEW_BUILD_IS_REQUIRED_MESSAGE }}